<h1>Auth</h1>
<ul>
    <li><a routerLink="/auth/login"> ir a login</a></li>
    <li><a routerLink="/auth/signup"> ir a registro</a></li>
</ul>
<h1>Heroes</h1>
<ul>
    <li><a routerLink="/heroes/heroes-list"> ir a lista de heroes</a></li>
    <li><a routerLink="/heroes/add-hero"> ir a agregar heroe</a></li>
    <li><a routerLink="/heroes/update-hero/1"> ir a actualizar heroe</a></li>
    <li><a routerLink="/heroes/find"> ir a buscar heroe</a></li>
    <li><a routerLink="/heroes/1"> ir a detalle heroe</a></li>
</ul>
